.header
{
    text-align: center;
    font-size:calc(0.5rem + 2.0vw) ;
}

h1{
font-size: calc(1.5rem + 3.ovw);
}
h2{
font-size: calc(1.3rem + 2.0vw);
}
p{
    font-size: calc(0.5rem + 1vw);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    display: flex;
    flex-direction: column;
    width: 99%;
    align-items: center;
}