.header {
  text-align: center;
  font-size: calc(0.5rem + 2vw);
}

h1 {
  font-size: calc(1.5rem + 3ovw);
}
h2 {
  font-size: calc(1.3rem + 2vw);
}
p {
  font-size: calc(0.5rem + 1vw);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  display: flex;
  flex-direction: column;
  width: 99%;
  align-items: center;
}

article > img {
  max-width: 80%;
  max-height: auto;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav > a {
  width: 80%;
  padding-left: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: bold;
  background-color: black;
  border: 2px solid lightblue;
  color: white;
}
/*Tablet layout om beredden är mellan 641 och 1007*/
@media screen and (min-width: 641) and (max-height: 1007) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  nav {
    flex-direction: row;
    justify-content: space-around;
  }
}

/*Dotor layout om beredden är minst 1008px*/
@media screen and (min-width: 1008px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
}
footer{
    background-color: 5px black;
    padding: 5px;
    width: 80vw;
    margin: auto;
}
footer>a{
    color: white;
    font-style: bold;
}